.banner {
  width: 100%;
  text-align: center;
  background-size: cover;
  background-position: center;
  margin-bottom: 24px;
}

.banner .overlay {
  padding: 145px 0px 8px 0;
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.5));
}

.banner #logo {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 36px white;
}

.banner h1 {
  margin-bottom: 32px;
  margin-top: 16px;
  text-shadow: 0 0 8px white;
  font-size: 36px;
}
